/* =============extra small========== */

@media (max-width:575.98px){

    /* ==========nav========= */

    .navbar-light .navbar-brand img {
        width: 130px;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        text-align: center;
        color: #fff;
    }

    #navbarSupportedContent{
        background-color: rgba(0, 0, 0, 0.902);
        border-radius: 20px;
    }
    .cmn_btn {
        padding: 6px 10px;
        font-size: 16px;
    }


    /* ===========bottop to top======= */

    .bottom_to_top {
        width: 30px;
        height: 30px;
        right: 24px;
        bottom: 25px;
        font-size: 16px;
    }





    /* ===============banner============ */

    .banner__item h1 {
        font-size: 50px;
        line-height: 100%;
        margin-bottom: 15px;
    }

    .banner__item p {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 20px;
        margin-right: 15px;
    }

    .banner__img {
        display: none;
    }


    .banner__img_small {
       display: none;
    }


    /* ===========counter=========== */

    .counter_success h6 {
        font-size: 20px;
        line-height: 100%;
        margin-bottom: 0px;
    }

    .counter_success h3 {
        font-size: 25px;
        line-height: 30px;
    }

    .counter__customer {
        margin: 20px 0 60px 0;
    }

    .counter__customer h2 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 0px;
    }

    .counter__customer p {
        font-size: 16px;
        line-height: 110%;
        margin-bottom: 10px;
    }

    .counter__review {
        margin: 0px 0 60px 0;
    }

    .counter__review h2 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 0px;
    }
    .counter__review p {
        font-size: 16px;
        line-height: 110%;
        margin-bottom: 10px;
    }


    .counter__download{
        margin: 0px 0 60px 0;
    }

    .counter__download h2 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 0px;
    }
    .counter__download p {
        font-size: 16px;
        line-height: 110%;
        margin-bottom: 10px;
    }

    .counter__download a {
        font-size: 16px;
        line-height: 100%;
    }



    /* ===================common========== */
    .cmn__heading {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 8px;
    }

    .cmn__pera {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 18px;
        width: auto;
    }

    /* ==============service========== */

    .service__item img{
        width: 60px;
    }

    .service__item h4 {
        font-size: 18px;
        line-height: 15px;
        margin-bottom: 7px;
        margin-top: 15px;
    }

    .service__item p {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }


    /* ==============work================ */

    .work_link {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 30px;
    }


    /* ===============agence=========== */
    
    .agence__detail .cmn__pera {
        width: auto;
        margin-bottom: 40px;
    }

    .agence__item img {
        width: 35px;
    }

    .agence__item h5 {
        font-size: 20px;
        line-height: 22px;
        margin: 10px 0 2px 0;
    }

    .agence__item p {
        font-size: 12px;
        line-height: 16px;
    }


    .agence__detail .cmn__heading {
        width: auto;
    }

    .agence__detail .cmn__pera {
        width: auto;
        margin-bottom: 85px;
    }

    .agence__img {
        display: none;
    }
    /* =====================review=========== */

    .review_item_main {
        padding: 15px;
    }

    .review_item_main img {
        margin-bottom: 8px;
        width: 35px;
    }

    .review_item_main p {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 8px;
    }

    .review_item_icon {
        width: 100%;
        margin-bottom: 18px;
    }

    .review_item_icon i {
        font-size: 10px;
    }

    .review_item_id {
        display: flex;
        gap: 10px;
    }

    .review_item_main img {
        margin-bottom: 8px;
        width: 30px;
        height: 33px;
    }

    .review_item_id_detail h5 {
        font-size: 10px;
        line-height: 108%;
    }

    .review_item_id_detail p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #7B7B7B;
        font-family: 'Inter', sans-serif;
        margin: 0;
    }

    .review_item_id_detail p {
        font-size: 9px;
        line-height: 22px;
    }




}


/* ==============small============== */

@media (min-width:576px) and (max-width:767.98px){

    /* ==========nav========= */

   

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        text-align: center;
        color: #fff;
    }

    #navbarSupportedContent{
        background-color: rgba(0, 0, 0, 0.902);
        border-radius: 20px;
    }
    .cmn_btn {
        padding: 6px 10px;
        font-size: 16px;
    }

    /* ===============banner============ */

    .banner__item h1 {
        font-size: 65px;
        line-height: 105%;
        margin-bottom: 19px;
    }

    .banner__item p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 22px;
        margin-right: 15px;
    }

    .banner__img {
        display: none;
    }


    .banner__img_small {
       display: none;
    }

    /* ===========counter=========== */

    .counter_success h6 {
        font-size: 22px;
        line-height: 110%;
        margin-bottom: 5px;
    }

    .counter_success h3 {
        font-size: 29px;
        line-height: 35px;
    }

    .counter__customer {
        margin: 20px 0 60px 0;
    }

    .counter__customer h2 {
        font-size: 42px;
        line-height: 45px;
        margin-bottom: 4px;
    }

    .counter__customer p {
        font-size: 17px;
        line-height: 110%;
        margin-bottom: 12px;
    }

    .counter__review {
        margin: 0px 0 60px 0;
    }

    .counter__review h2 {
        font-size: 42px;
        line-height: 45px;
        margin-bottom: 4px;
    }
    .counter__review p {
        font-size: 17px;
        line-height: 110%;
        margin-bottom: 12px;
    }


    .counter__download{
        margin: 0px 0 60px 0;
    }

    .counter__download h2 {
        font-size: 42px;
        line-height: 45px;
        margin-bottom: 4px;
    }
    .counter__download p {
        font-size: 17px;
        line-height: 110%;
        margin-bottom: 12px;
    }

    .counter__download a {
        font-size: 16px;
        line-height: 100%;
    }







    /* ===================common========== */
    .cmn__heading {
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 12px;
    }
    .cmn__pera {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 20px;
        width: auto;
    }

    /* ==============service========== */

    .service__item {
        width: 100%;
        margin-bottom: 24px;
        padding: 35px 15px;
    }




    .service__item img {
        width: 50px;
    }

    .service__item h4 {
        font-size: 17px;
        line-height: 0px;
        margin-bottom: 12px;
        margin-top: 15px;
    }

    .service__item p {
        font-weight: 400;
        font-size: 10px;
        line-height: 18px;
    }

    /* ==============work================ */

    .work_link {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 32px;
    }

    /* ===============agence=========== */
    
    .agence__detail .cmn__pera {
        width: auto;
        margin-bottom: 40px;
    }

    .agence__item img {
        width: 40px;
    }

    .agence__item h5 {
        font-size: 22px;
        line-height: 24px;
        margin: 11px 0 6px 0;
    }

    .agence__item p {
        font-size: 13px;
        line-height: 19px;
    }


    .agence__detail .cmn__heading {
        width: auto;
    }

    .agence__detail .cmn__pera {
        width: auto;
        margin-bottom: 85px;
    }

    .agence__img {
        display: none;
    }
    /* =====================review=========== */

    .review_item_main {
        padding: 15px;
    }

    .review_item_main img {
        margin-bottom: 8px;
        width: 35px;
    }

    .review_item_main p {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 8px;
    }

    .review_item_icon {
        width: 100%;
        margin-bottom: 18px;
    }

    .review_item_icon i {
        font-size: 10px;
    }

    .review_item_id {
        display: flex;
        gap: 10px;
    }

    .review_item_main img {
        margin-bottom: 8px;
        width: 30px;
        height: 33px;
    }

    .review_item_id_detail h5 {
        font-size: 10px;
        line-height: 108%;
    }

    .review_item_id_detail p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #7B7B7B;
        font-family: 'Inter', sans-serif;
        margin: 0;
    }

    .review_item_id_detail p {
        font-size: 9px;
        line-height: 22px;
    }


}


/* =================mrdium============== */


@media (min-width:768px) and (max-width:991.98px){

    /* ==========nav========= */

   

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        text-align: center;
        color: #fff;
    }

    #navbarSupportedContent{
        background-color: rgba(0, 0, 0, 0.902);
        border-radius: 20px;
    }
    .cmn_btn {
        padding: 6px 10px;
        font-size: 16px;
    }

    /* ===============banner============ */

    .banner__item h1 {
        font-size: 65px;
        line-height: 105%;
        margin-bottom: 19px;
    }

    .banner__item p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 22px;
        margin-right: 15px;
    }

    .banner__img {
        display: none;
    }


    .banner__img_small {
       display: none;
    }


    /* ===========counter=========== */

    .counter_success h6 {
        font-size: 24px;
        line-height: 110%;
        margin-bottom: 8px;
    }

    .counter_success h3 {
        font-size: 32px;
        line-height: 35px;
    }

    .counter__customer {
        margin: 20px 0 60px 0;
    }

    .counter__customer h2 {
        font-size: 42px;
        line-height: 45px;
        margin-bottom: 4px;
    }

    .counter__customer p {
        font-size: 17px;
        line-height: 110%;
        margin-bottom: 12px;
    }

    .counter__review {
        margin: 0px 0 60px 0;
    }

    .counter__review h2 {
        font-size: 42px;
        line-height: 45px;
        margin-bottom: 4px;
    }
    .counter__review p {
        font-size: 17px;
        line-height: 110%;
        margin-bottom: 12px;
    }


    .counter__download{
        margin: 0px 0 60px 0;
    }

    .counter__download h2 {
        font-size: 42px;
        line-height: 45px;
        margin-bottom: 4px;
    }
    .counter__download p {
        font-size: 17px;
        line-height: 110%;
        margin-bottom: 12px;
    }

    .counter__download a {
        font-size: 18px;
        line-height: 100%;
    }







    /* ===================common========== */
    .cmn__heading {
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 12px;
    }
    .cmn__pera {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 20px;
        width: auto;
    }

    /* ==============service========== */

    .service__item {
        width: 100%;
        margin-bottom: 24px;
        padding: 15px 15px 10px 15px;
    }


    .service__item img {
        width: 40px;
    }

    .service__item h4 {
        font-size: 15px;
        line-height: 0px;
        margin-bottom: 9px;
        margin-top: 13px;
    }
    .service__item p {
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
    }

    /* ==============work================ */

    .work_link {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 32px;
    }

    /* ===============agence=========== */
    
    .agence__detail .cmn__pera {
        width: auto;
        margin-bottom: 40px;
    }

    .agence__item {
        width: 310px;
    }

    .agence__item img {
        width: 40px;
    }

    .agence__item h5 {
        font-size: 22px;
        line-height: 24px;
        margin: 11px 0 6px 0;
    }

    .agence__item p {
        font-size: 13px;
        line-height: 19px;
    }


    .agence__detail .cmn__heading {
        width: auto;
    }

    .agence__detail .cmn__pera {
        width: auto;
        margin-bottom: 85px;
    }

    .agence__img {
        display: none;
    }
    /* =====================review=========== */

    .review_item_main {
        padding: 15px;
    }

    .review_item_main img {
        margin-bottom: 8px;
        width: 35px;
    }

    .review_item_main p {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 8px;
    }

    .review_item_icon {
        width: 100%;
        margin-bottom: 18px;
    }

    .review_item_icon i {
        font-size: 10px;
    }

    .review_item_id {
        display: flex;
        gap: 10px;
    }

    .review_item_main img {
        margin-bottom: 8px;
        width: 30px;
        height: 33px;
    }

    .review_item_id_detail h5 {
        font-size: 10px;
        line-height: 108%;
    }

    .review_item_id_detail p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #7B7B7B;
        font-family: 'Inter', sans-serif;
        margin: 0;
    }

    .review_item_id_detail p {
        font-size: 9px;
        line-height: 22px;
    }


}

/* ====================login=========== */


    


/* =================larg============== */


@media (min-width:992px) and (max-width:1199.98px){

    /* ==========nav========= */

   

   

    /* ===============banner============ */

    .banner__item h1 {
        font-size: 65px;
        line-height: 105%;
        margin-bottom: 19px;
    }

    .banner__item p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 22px;
        margin-right: 15px;
    }

    .banner__img_small{
    display: none;
    }


    .banner__img_small {
       display: none;
    }


    /* ===========counter=========== */

    .counter_success h6 {
        font-size: 23px;
        line-height: 110%;
        margin-bottom: 6px;
    }

    .counter_success h3 {
        font-size: 34px;
        line-height: 37px;
    }

    

    .counter__customer h2 {
        font-size: 42px;
        line-height: 45px;
        margin-bottom: 4px;
    }

    .counter__customer p {
        font-size: 15px;
        line-height: 110%;
        margin-bottom: 12px;
    }

    

    .counter__review h2 {
        font-size: 42px;
        line-height: 45px;
        margin-bottom: 4px;
    }
    .counter__review p {
        font-size: 15px;
        line-height: 110%;
        margin-bottom: 12px;
    }



    .counter__download h2 {
        font-size: 42px;
        line-height: 45px;
        margin-bottom: 4px;
    }
    .counter__download p {
        font-size: 15px;
        line-height: 110%;
        margin-bottom: 12px;
    }

    .counter__download a {
        font-size: 16px;
        line-height: 100%;
    }










    /* ===================common========== */
    .cmn__heading {
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 12px;
    }
    .cmn__pera {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 20px;
        width: auto;
    }

    /* ==============service========== */

    .service__item {
        padding: 30px;
    }


    .service__item img {
        width: 65px;
    }

    .service__item h4 {
        font-size: 20px;
        line-height: 16px;
        margin-bottom: 9px;
        margin-top: 16px;
    }

    .service__item p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }

    /* ==============work================ */

    .work_link {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 32px;
    }

    /* ===============agence=========== */
    
    .agence__detail .cmn__pera {
        width: auto;
        margin-bottom: 40px;
    }

    .agence__item img {
        width: 40px;
    }

    .agence__item h5 {
        font-size: 22px;
        line-height: 24px;
        margin: 11px 0 6px 0;
    }

    .agence__item p {
        font-size: 13px;
        line-height: 19px;
    }


    .agence__detail .cmn__heading {
        width: auto;
    }

    .agence__detail .cmn__pera {
        width: auto;
        margin-bottom: 85px;
    }

    /* .agence__img {
        display: none;
    } */
    /* =====================review=========== */

    .review_item_main {
        padding: 15px;
    }

    .review_item_main img {
        margin-bottom: 8px;
        width: 35px;
    }

    .review_item_main p {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 8px;
    }

    .review_item_icon {
        width: 100%;
        margin-bottom: 18px;
    }

    .review_item_icon i {
        font-size: 10px;
    }

    .review_item_id {
        display: flex;
        gap: 10px;
    }

    .review_item_main img {
        margin-bottom: 8px;
        width: 30px;
        height: 33px;
    }

    .review_item_id_detail h5 {
        font-size: 10px;
        line-height: 108%;
    }

    .review_item_id_detail p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #7B7B7B;
        font-family: 'Inter', sans-serif;
        margin: 0;
    }

    .review_item_id_detail p {
        font-size: 9px;
        line-height: 22px;
    }


}


/* =================extra larg============= */

@media (min-width:1200px) and (max-width:1399.98px){

/* ================banner========= */

.banner__img_small {
    display: none;
 }







}
